.inputOption{
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: gray;
    padding: 10px;
    cursor: pointer;
}

.inputOption:hover{
    background: whitesmoke;
    border-radius: 1px;
    color: black;
}

.inputOption > h4{
    margin-right: 5px;
}